<div class="ui dimmer page active" data-bind="css: { active: visible }">
  <div class="ui modal active" data-bind="css: { active: visible }">
    <div class="header">Export Settings</div>

    <div class="content">
      <div class="ui form">
        <div class="field"><textarea rows="16" data-bind="value: text" readonly="readonly"></textarea></div>
      </div>
    </div>

    <div class="actions">
      <div class="ui positive button" data-bind="click: closeClick">Close</div>
    </div>
  </div>
</div>
