<div class="ui segment">
  <h3 class="ui header">Job List</h3>

  <button class="fluid ui primary button" data-bind="click: updateJobs, css: { disabled: isLoading }">Refresh</button>

  <div class="ui negative message" data-bind="visible: isError"><p data-bind="text: errorMessage"></p></div>

  <table class="ui selectable striped compact padded table" data-bind="visible: hasResults">
    <thead>
      <tr>
        <th class="one wide">#</th>
        <th class="three wide">Started</th>
        <th class="three wide">Updated</th>
        <th class="three wide">Database Name</th>
        <th class="three wide">Status</th>
        <th class="three wide">Stage</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: results">
      <tr
        data-bind="click: $component.selectJob, css: { positive: isSuccess, negative: isFailed }"
        style="cursor: pointer;"
      >
        <td data-bind="text: jobid"></td>
        <td data-bind="text: started"></td>
        <td data-bind="text: updated"></td>
        <td data-bind="text: databaseName"></td>
        <td data-bind="text: statusString"></td>
        <td data-bind="text: stage"></td>
      </tr>
    </tbody>
  </table>
</div>
