<div class="ui segment">
  <h3 class="ui header">Job List</h3>

  <button class="fluid ui primary button" data-bind="click: updateJobs, css: { disabled: isLoading }">Refresh</button>

  <div class="ui negative message" data-bind="visible: isError">
    <p data-bind="text: errorMessage"></p>
  </div>

  <table class="ui selectable striped compact padded table" data-bind="visible: hasResults">
    <thead>
      <tr>
        <th>#</th>
        <th>Started</th>
        <th>Stage</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: results">
      <tr data-bind="click: $component.selectJob, css: { positive: isSuccess, negative: isFailed }">
        <td data-bind="text: jobid"></td>
        <td data-bind="text: started"></td>
        <td data-bind="text: stage"></td>
        <td data-bind="text: statusString"></td>
      </tr>
    </tbody>
  </table>
</div>
