<div class="ui segment" data-bind="visible: isJobDefined">
  <h3 class="ui header">Job #<span data-bind="text: jobid"></span> Status</h3>

  <div class="ui positive message" data-bind="visible: isSuccess"><p>Job completed successfully</p></div>

  <div class="ui negative message" data-bind="visible: isFailed"><p>Job completed with error</p></div>

  <p>Database name: <span data-bind="text: databaseName">&mdash;</span></p>
  <p>Current stage: <span data-bind="text: stage">&mdash;</span></p>

  <div class="ui checkbox">
    <input id="truncate_output" type="checkbox" data-bind="checked: truncateOutput" />
    <label for="truncate_output">Truncate output</label>
  </div>

  <div class="ui existing segment" style="overflow-x: scroll;">
    <pre data-bind="visible: isStdoutTrimmed">...</pre>
    <pre data-bind="text: stdout, visible: hasStdout"></pre>
    <pre data-bind="visible: isStderrTrimmed">...</pre>
    <pre data-bind="text: stderr, visible: hasStderr"></pre>
  </div>
</div>

<div class="ui segment" data-bind="visible: isJobUndefined"><h3 class="ui header">Job Not Selected</h3></div>
